.btn {
    padding: 2rem;
    border-radius: .4rem;
    border: none;
    outline: none;
    box-shadow: #00000066 0px 0px 10px 3px;

    transition-duration: 200ms;
    margin-top: 1rem;
}

.btn-white{
    background-color: #23262D;
    border: rgb(58, 58, 58) 1px solid;
    color: rgb(199, 199, 199);
    font-weight:600;
    font-size: medium;
}


.btn-white:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition-duration: 500ms;
    cursor:pointer;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: rgb(159, 28, 235) solid 2px;
}